<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<title>CodeFellowship</title>

<h2>Current Profile</h2>
<!--<a href="/login"> Logout </a>-->
<div th:replace="fragment :: potato">...</div>
<div>
<p> Welcome, <span th:text="${principal.username}"></span></p>
<p> Your Password: <span th:text="${principal.password}"></span></p>
<p> First Name: <span th:text="${principal.firstname}"></span></p>
<p> Last Name: <span th:text="${principal.lastname}"></span></p>
<p> Date of Birth: <span th:text="${principal.dateofbirth}"></span></p>
<p> Bio: <span th:text="${principal.bio}"></span></p>
    <br>
 <h2>This is where my posts live</h2><br>
    <div th:each="post : ${principal.postList}">
    <h4 th:text="${principal.username}"></h4>
        <p> Message: <span  th:text="${post.body}"></span></p>
        <p> Time: <span th:text="${post.createdAt}"></span></p>
    </div>

</div>
</body>
</html>