<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<title>CodeFellowship</title>

<p>This is a page for Code Enthusiasts!</p>

<h3> Welcome, <span th:text="${principal.username}"></span></h3>
<h3> your password, <span th:text="${principal.password}"></span></h3>
<!--<h3> First Name <span th:text="${principal.firstName}"></span></h3>-->
<!--<h3> Last Name <span th:text="${principal.lastName}"></span></h3>-->
<!--<p><span th:text="${principal.username}"></span></p>-->


</body>
</html>